@model Summoner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Summoner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummonerLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummonerLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionDate)
        </dt>
        <dd class="col-sm-10">
            @{
                var revisionDateTime = DateTimeOffset.FromUnixTimeSeconds(Model.RevisionDate);
            }
            @Html.DisplayFor(model => revisionDateTime.Date)
        </dd>
    </dl>
</div>