@model IEnumerable<Summoner>

@{
    ViewData["Title"] = "Summoner";
}

<div class="text-center">
    <h1 class="display-4">Summoners</h1>
</div>
<table class="table">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.AccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SummonerLevel)
        </th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var summoner in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => summoner.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => summoner.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => summoner.SummonerLevel)
                </td>
                <td>
                    <a asp-action="Details" asp-route-name="@summoner.Name">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
